#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  background-color: transparent !important;
}

@font-face {
  font-family: "OpenSans";
  src: url("./assets/font/OpenSans/OpenSans_Condensed-Regular.ttf");
}

@font-face {
  font-family: "RobotoFlex";
  src: url("./assets/font/OpenSans/OpenSans_Condensed-Regular.ttf");
}

* {
  font-family: "OpenSans";
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #7a37ff;
  border-radius: 20px;
  border: 3px solid #7a37ff;
  cursor: pointer;
}

.content {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.block {
  align-items: start;
  min-width: 680px;
}

.block__title-text {
  font-size: 5vh !important;
  text-transform: uppercase;
}

.block__subtitle-text {
  font-size: 3vh !important;
  color: #8d41f1 !important;
}

.about_section {
  z-index: 1;
  flex-direction: row;
}

.neon {
  color: white !important;
  text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5), 0 0 0.25em currentColor;
}

.about_subtitle {
  text-align: start !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 26px !important;
}

.block_title-card {
  font-size: 26px !important;
}

.image {
  width: "100%";
  height: "100%";
  object-fit: "cover";
}

.banner-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 800px;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  font-size: 24px !important;
  text-align: justify;
}

@media only screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
    justify-content: center;
  }

  .block {
    min-width: 0;
    align-items: center;
  }

  .block__title-text {
    font-size: 3vh !important;
  }
  .block__subtitle-text {
    font-size: 2vh !important;
  }
  .about_section {
    z-index: 1;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .overlay-text {
    text-align: justify;
  }
}

.control:hover {
  color: white;
  transition: 1s;
}

.card-container {
  position: relative;
  display: flex;
  align-items: center;
}

.card-grow {
  transition: transform 0.3s ease-in-out;  /* Transição suave para o crescimento */
}

.card-grow:hover .card-icon {
  transform: rotate(360deg);
  transition: transform 1s ease; /* Transição suave */
}

.card-icon {
  transition: transform 0.5s ease; /* Garantir suavidade */
  max-width: 120px;
}

.card-text {
  display: none;  /* Inicialmente o texto está invisível */
  margin-left: 10px;  /* Adiciona um pequeno espaço entre o cartão e o texto */
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Transição suave para a visibilidade */
}

.card-container:hover .card-text {
  display: inline-block; /* Exibe o texto quando o hover é ativado */
  opacity: 1; /* O texto aparece suavemente */
}

@media only screen and (max-width: 2400px) {
  .card_skill-front,
  .card_skill-back {
    width: 200px !important;
    height: 200px !important;
  }
  .card_skill-database {
    width: 300px;
    height: 500px;
  }
  .card_skill-devops {
    width: 350px;
    height: 200px;
  }
  .card_skill-test{
    width: 400px;
    height: 250px;
  }
}

@media only screen and (min-width: 1200px) {
  .card_skill-front {
    width: 250px !important;
    height: 170px !important;
  }
  .card_skill-back {
    width: 250px !important;
    height: 200px !important;
  }
  .card_skill-database {
    width: 450px;
    height: 280px;
  }
  .card_skill-devops {
    width: 350px;
    height: 170px;
  }
  .card_skill-test{
    width: 350px;
    height: 250px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .overlay-text {
    font-size: 21px !important;
  }
  .card_skill-front,
  .card_skill-back {
    width: 100px !important;
    height: 100px !important;
  }
  .card_skill-database {
    width: 100px;
    height: 430px;
  }
  .card_skill-devops {
    width: 100px;
    height: 184px;
  }
  .card_skill-test{
    width: 100px;
    height: 266px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .banner-container {
    height: 1200px;
  }
  .overlay-text,
  .about_subtitle {
    font-size: 18px !important;
  }
  .card_skill-database {
    width: 100px;
    height: 250px;
  }
}

@media only screen and (max-width: 479px) {
  .banner-container {
    height: 1200px;
  }
  .overlay-text {
    font-size: 15px !important;
  }
  .about_section-banner {
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
  }
  .card_skill-front,
  .card_skill-back {
    width: 80px !important;
    height: 80px !important;
  }
  .card_skill-database {
    width: 80px;
    height: 370px;
  }
  .card_skill-devops {
    width: 80px;
    height: 150px;
  }
  .card_skill-test{
    width: 80px;
    height: 150px;
  }
}

.card_slide {
  height: 440px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  background-size: cover !important;
  background-position: center !important;
}

.title_slide {
  font-weight: 900;
  color: var(--mantine-color-white);
  line-height: 1.2 !important;
  font-size: 32px !important;
  margin-top: var(--mantine-spacing-xs) !important;
  cursor: default !important;
}

.category_slide {
  color: var(--mantine-color-white);
  opacity: 0.7;
  font-weight: 700;
  font-size: 15px !important;
  text-transform: uppercase;
  cursor: default;
}