#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  background-color: transparent !important;
}

@font-face {
  font-family: "OpenSans";
  src: url("./assets/font/OpenSans/OpenSans_Condensed-Regular.ttf");
}

@font-face {
  font-family: "RobotoFlex";
  src: url("./assets/font/OpenSans/OpenSans_Condensed-Regular.ttf");
}

* {
  font-family: "OpenSans";
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #7a37ff; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #7a37ff; /* creates padding around scroll thumb */
  cursor: pointer;
}

.content {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.block {
  align-items: start;
  min-width: 680px;  
}

.block__title-text {
  font-size: 5vh !important;
  text-transform: uppercase;
}

.block__subtitle-text {
  font-size: 3vh !important; 
  color: #8d41f1 !important;
}

.about_section {
  z-index: 1;
} 

.neon {
  color: white !important;
  text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5), 0 0 0.25em currentColor;
}

.about_subtitle {
  text-align: start !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-size: 26px !important;
}

.block_title-card{
  font-size: 26px !important;
}

@media only screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
    justify-content: center;
  }

  .block {
    min-width: 0;
    align-items: center;
  }

  .block__title-text {
    font-size: 3vh !important;
  }
  .block__subtitle-text {
    font-size: 2vh !important;
  }
}


.image {
  width: '100%';
  height: '100%';
  object-fit: 'cover';
}

.banner-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 800px;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Ajuste o valor de opacidade conforme necessário */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {  
  font-size: 24px !important; /* Ajuste o tamanho do texto conforme necessário */
  text-align: justify;   
}
