#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family: 'Marvel';
  src: url('./assets/font/Marvel-Regular/Marvel-Regular.ttf');  
}

@font-face {
  font-family: 'RobotoFlex';
  src: url('./assets/font/Roboto_Flex/static/RobotoFlex-Regular.ttf');  
}

body {
  background-image: url("assets/img/galaxy-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: red;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid red;  /* creates padding around scroll thumb */
  cursor: pointer;
}

@keyframes moveRightAndBack {
  0% {
    transform: translateX(-50%) rotate(-50deg); /* Começa no centro sem rotação horizontal */
  }
  20% {
    transform: translateX(100vw) rotateY(40deg); /* Move para a direita e gira horizontalmente */
  }
  40% {
    transform: translateX(50%) rotateX(40deg); /* Fim da ida, gira horizontalmente */
  }
  60% {
    transform: translateX(0) rotate(40deg); /* Fica no centro */
  }
  80% {
    transform: translateX(-100vw) rotate(40deg) ; /* Move para a esquerda e gira horizontalmente */
  }
  100% {
    transform: translateX(-50%) rotate(180deg); /* Volta ao centro, completa a rotação horizontal */
  }
  
}
.rotating-image {
  animation: moveRightAndBack 3.5s linear infinite; 
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 999;
}

.loading-text {
  position: fixed;
  font-family: "Marvel";
  text-transform: uppercase;
  letter-spacing: 2px;
  top: 65%;
  left: 48.1%;
  z-index: 999;
}

.card {
  height: rem(440px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
}

.title {
  font-weight: 900;
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: rem(32px);
  margin-top: var(--mantine-spacing-xs);
  cursor: default;
}

.category {
  color: var(--mantine-color-white);
  opacity: 0.7;
  font-weight: 700;
  text-transform: uppercase;
  cursor: default;
}